<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.WebBanLinhKienConnectionString"
            connectionString="Data Source=LAPTOP-TUAN\SQLEXPRESS;Initial Catalog=WebBanLinhKien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.weblinhkienConnectionString"
            connectionString="Data Source=HEAVEN\SQLEXPRESS;Initial Catalog=weblinhkien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.weblinhkienConnectionString1"
            connectionString="Data Source=.;Initial Catalog=weblinhkien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DACNConnectionString" connectionString="Data Source=.;Initial Catalog=DACN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLWBCConnectionString" connectionString="Data Source=.;Initial Catalog=QLWBC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>